* {
  font-family: "Roboto" !important;
  color: var(--white);
}
.nav-top {
  height: 0;
  position: relative;
}
.nav-nav {
  height: 74px;
  width: 100%;
}

.nav-container {
  display: flex;
  height: 72px;
}

.nav-logo {
  z-index: 99;
  margin: 10px 0;
}

.nav-logo__img {
  width: 60px;
  height: 55px;
}

.buynowButton.btn-logo {
  background: transparent !important;
  width: 40px;
  height: 40px;
  z-index: 9999;
}

#logo-bar {
  display: none;
  font-size: 40px;
  background: transparent !important;
}

.topdown-menu {
  display: block;
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;
  transform: translateY(-200%);
  z-index: 10000;
}

.content-link {
  text-transform: uppercase;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}

.nav-ul {
  margin: 28px 0;
}

.ul-list {
  display: flex;
  line-height: 1.5;
}

.li-listitems {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  color: var(--white);
  text-transform: uppercase;
  margin: 0 65px;
  z-index: 99;
}

.nav-buy {
  margin: auto 0;
  display: flex;
  visibility: hidden;
}

.buy-now__newsletter,
.newsletter {
  max-width: 135px;
  width: 100%;
  background-color: var(--yellow);
  margin-right: 10px;
  height: 34px;
  text-transform: uppercase;
  cursor: pointer;
}

.buynowButton.newletter__text,
.buy-oder {
  background-color: var(--yellow);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 18px;
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.country-navigation-wrapper {
  position: relative;
}

.country-nav {
  max-width: 50px;
}

.country-nav div {
  position: relative;
  z-index: 999;
}

.flag {
  overflow: hidden;
  margin: 10px auto;
  padding-right: 10px;
}

.flag > a > img {
  transition: transform 0.2s ease-in-out;
  position: relative;
  transform: translateX(100px);
  border-radius: 50%;
  height: 37px;
  width: 37px;
  cursor: pointer;
}

.country-nav__selected {
  position: relative;
  z-index: 99;
}

.nav-country-logo__img {
  border-radius: 50%;
  height: 37px;
  width: 37px;
  margin: 12px 0;
  cursor: pointer;
}

/* section Hero */
#hero {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 870px;
}
#hero .hero-video {
  position: absolute;
  height: 150%;
  z-index: -1;
}

.hero-img {
  position: absolute;
  width: 99%;
  z-index: -2;
}

.hero-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logo-center img {
  width: 100%;
}
.text-bottom {
  color: var(--white);
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.buy {
  display: flex;
}
.buy-now {
  margin: 0 13px;
  padding: 10px 125px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  border: 3px solid black;
  cursor: pointer;
  font-size: 14px;
}

.watch-trailer {
  cursor: pointer;
  padding: 10px 77px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 3px solid black;
  font-size: 14px;

  color: var(--white);
}

.img-esrb {
  position: absolute;
  right: 1%;
  bottom: 2%;
  z-index: 3;
}

.img-esrb img {
  width: 150px;
  height: 75px;
}

#hero::before {
  position: absolute;
  background-image: url(../img/hero/overlay.png);
  background-repeat: repeat;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* end Header */

/* Media */
#media {
  position: relative;
  width: 100%;
}

.media {
  background-image: url(../img/media/BG03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  overflow: hidden;
}

.innerContainer {
  position: relative;
  max-width: 1980px;
  width: 95%;
  margin: 0 auto;
}

.media-title {
  margin-top: 120px;
  color: var(--white);
  text-align: center;
  font-size: 95px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1.85px;
  line-height: 2;
  margin-bottom: 10px;
  position: relative;
  text-shadow: -10px 10px rgb(0 0 0 / 35%);
  text-transform: uppercase;
  z-index: 1;
}

.media-main__text {
  margin: 0 auto;
  max-width: 884px;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.grid.wide {
  max-width: 1300px;
  margin: 0 auto;
}

.trailer-container.grid.wide {
  margin: 0 auto;
  position: relative;
  text-align: center;
  max-width: 1250px;
}

#trailer-prev__btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.trailer-siema {
  overflow: hidden;
  margin-bottom: 60px;
}

.trailer-siema__slider {
  display: flex;
  height: 369px;
}

.slider-videos {
  position: relative;
  margin: 0 28px;
  max-height: 325px;
  height: 100%;
  max-width: 570px;
  width: 100%;
}
.slider-videos video {
  border: 5px solid #ffffff;
  box-shadow: 4px 4px #000;
  max-height: 325px;
  max-width: 570px;
  width: 100%;
}

#trailer-next__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* end media */

/* features */
#features {
  position: relative;
}

.features {
  background: url(../img/features/features_bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
}

.grid-l {
  max-width: 1980px;
  margin: 0 auto;
  position: relative;
  width: 96%;
}

.features-heading {
  display: block;
  padding-top: 82px;
  font-size: 110px;
  color: var(--white);
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1.85px;
  line-height: 1;
  margin-bottom: 10px;
  position: relative;
  text-shadow: -10px 10px rgb(0 0 0 / 35%);
}

.description-text {
  color: var(--white);
  font-size: 16px;
  padding-right: 6%;
}

.features-img {
  border: 3px solid var(--white);
  max-height: 580px;
  cursor: pointer;
  width: 100%;
}

.features-content-2 {
  max-width: 1380px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

.description-box {
  padding: 30px;
  color: var(--white);
}

.small-feature-group > div {
  padding: 20px;
}

.small-feature-group h4 {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
}
.small-feature-group p {
  font-size: 14px;
  line-height: 1.5;
}

.description-img {
  position: absolute;
  border: 5px solid var(--white);
  box-shadow: 4px 4px #000;
  height: 200px;
  width: 90%;
  bottom: 4%;
}

.small-feature-group {
  position: relative;
  border-radius: 12px;
  background-position: top center;
  width: 360px;
  height: 535px;
  margin: 0 auto;
}

.small-feature-group.bg-1 {
  background: url(../img/features/red_bg1.png) no-repeat;
}
.small-feature-group.bg-2 {
  background: url(../img/features/red_bg2.png) no-repeat;
}
.small-feature-group.bg-3 {
  background: url(../img/features/red_bg3.png) no-repeat;
}

/* end features */

/* characters */
#characters {
  position: relative;
  width: 100%;
  background: url(../img/characters/characters_bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.character {
  display: flex;
}
.character-heading .features-heading {
  font-size: 90px;
}

.character-selector {
  max-width: 500px;
}

.character-selector li {
  margin: 7px;
  cursor: pointer;
}

.character-selector .characterActive,
.character-persona.characterActive,
.character-selector > li:hover {
  box-shadow: -5px -5px 0 #000;
  cursor: pointer;
}

.character-info-heading {
  margin-top: 44px;
  font-size: 26px;
  color: var(--white);
  text-transform: uppercase;
}

.character-info {
  margin: 44px 0;
  font-size: 16px;
}

.character-img {
  width: 100%;
  display: block;
  align-items: center;
  text-align: center;
  margin: auto 0;
}

.character-img img {
  animation: 0.5s linear fadeIn;
  max-width: 500px;
  width: 100%;
  box-shadow: 5px 5px 0 #000;
}
/* end characters */

/* avaliable now */
#avaliable {
  background: url(../img/purchase/purchase_bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.available-now::before {
  background-image: url(../img/purchase/status_sophia.png);
  background-repeat: no-repeat;
  background-size: 60%;
  content: "";
  height: 300px;
  left: -250px;
  position: absolute;
  top: -17px;
  width: 720px;
}

.available-group {
  max-width: 1500px;
  margin: 0 auto;
}

.available-heading {
  font-size: 73px;
  font-style: italic;
  font-weight: bold;
  text-shadow: -10px 10px rgb(0 0 0 / 35%);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.85px;
  padding-top: 82px;
}

.choose-flatform {
  margin-left: 10px;
}

.heading-flatform {
  margin-top: 25px;
  text-transform: uppercase;

  font-size: 26px;
}

.choose-box-contain {
  display: flex;
}

.choose-box {
  background: none;
  margin: 10px 10px 10px 0;
  border: 2px solid var(--red);
  width: 189px;
  height: 35px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
}

.choose-box.selected,
.choose-box:hover {
  background-color: var(--red);
}

.available-content {
  margin: 50px auto;
}

.grid.wide.available-content2 {
  position: relative;
  max-width: 1070px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.grid.wide.available-content-small {
  position: relative;
  max-width: 1070px;
  margin: 0 auto;
  display: none;
  text-align: center;
}

.editionText {
  position: absolute;
  display: inline-block;
  text-align: left;
  width: 30%;
  bottom: 0;
  left: 2%;
}

.base-game.heading {
  width: 35%;
  max-width: 35%;
}

.editionTitle {
  font-size: 26px;
}

.versionButtonGroup {
  left: 2%;
  position: absolute;
  width: 35%;
  text-align: left;
}

.versionButtonGroup-small {
  display: none;
  padding: 0 10px;
}

.versionButtonGroup-small .versionButtonsContainer {
  display: flex;
}
.versionButtonGroup-small .versionButtonsContainer .versionButton {
  max-width: 189px;
  margin-right: 10px;
}

.versionTitle {
  font-size: 26px;
}

.versionButtonsContainer {
  width: 100%;
  left: 2%;
}

.versionButton {
  margin: 5px 0;
  max-width: 250px;
  width: 100%;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid var(--red);
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
}

.VersionActive {
  background-color: var(--red);
}

.versionButton:hover {
  background-color: var(--red);
}

.titleGroup.grid.wide {
  max-width: 725px;
  width: 65.5%;
  left: 35%;
  position: relative;
  display: flex;
  margin: 0 0;
}

.gameCoverRetail {
  display: inline-block;
  vertical-align: top;
  max-height: 400px;
  margin: 0 2px;
}

.gameCoverRetail > img {
  max-width: 200px;
}

.launch-header {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
}

.buynowButton {
  font-size: 13px;
  background: var(--red);
  max-width: 135px;
  width: 100%;
  text-transform: uppercase;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.grid.wide.available-content3 {
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
  display: block;
}
.grid.wide.available-content-small {
  position: relative;
  max-width: 795px;
  margin: 0 auto;
  display: none;
}

.gameCoverRetail {
  width: 50%;
}

.base-game {
  width: 21.66667%;
  max-width: 21.66667%;
  padding: 10px 0;
  background-color: var(--yellow);
  color: #000;
  text-align: center;
  border: 1px solid black;
  font-style: italic;
}

.base-game-container {
  border-radius: 5px;
}

.base-game .base-game-header {
  color: #000;
  text-align: left;
  padding-left: 4%;
  text-transform: uppercase;
  font-size: 14px;
}

.base-game > img {
  padding: 1px;
  width: 20px;
}

.base-game.end {
  border-radius: 0 0 0 10px;
}
.base-game.start {
  border-radius: 10px 0 0 0;
}

/* end available */

/* footer */
.footer {
  background-color: #262626;
  width: 100%;
}

.whitebox-connect {
  position: absolute;
  display: inline-block;
  background-color: var(--white);
  height: 76px;
  width: 100%;
  right: 73%;
}

.connect-with-atlus::before {
  background-image: url(../img/purchase/triangle.png);
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  height: 75px;
  right: -22px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 22px;
}

.connect-with-atlus {
  position: relative;
  background: var(--white);
  font-weight: bold;
}

.connect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
}

.topbar-footer {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  text-align: center;
  height: 76px;
}

.navbar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__nav-bar {
  display: flex;
}

.footer__nav-bar li {
  font-size: 16px;
}

.footer__nav-bar img {
  height: 44px;
  margin: 0 2px;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: none;
  background: none;
  cursor: inherit;
  width: auto;
}

.subscribe-btn__content {
  width: 100%;
  max-width: none;
  background-color: var(--white);
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 14px 0;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer;
}

.logo-group.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 15px 0;
  justify-content: center;
}

.logo-group .atlus-logo {
  height: 50px;
}
.logo-group .p-studio {
  height: 90px;
}
.logo-group .ps4 {
  height: 40px;
}

.logo-group .esrb {
  height: 70px;
}

.logo-group .esrb-2 {
  height: 70px;
}

.logo-group img {
  margin: 10px;
}

.footer-copy {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  font-size: 9px;
  line-height: 1.5;
}

.policy-group {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
}
.policy-group a {
  margin: 0 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: none;
}

.close {
  position: absolute;
  right: 2%;
  font-size: 30px;
  color: rgb(117, 117, 117);
}

.close:hover {
  color: white;
  cursor: pointer;
}

.click-buy__launch-edition {
  max-width: 800px;
  width: 100%;
  background: #313c46;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: none;
  z-index: 9999;
}

.link-buy {
  display: flex;
  flex-wrap: wrap;
}

.link-buy a {
  width: 100%;
  max-width: 390px;
}

.link-button {
  display: flex;
  margin: 10px 10px;
  height: 35px;
  background-color: var(--yellow);
  text-transform: uppercase;
  font-size: 14px;
  color: black;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.click-buy__gift-with-purchase img,
.click-buy__steelbook-edition img,
.click-buy__launch-edition img {
  max-width: 100%;
}

.heading-click-buy {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.25;
}
.heading-click-buy-small {
  font-size: 26px;
  text-transform: uppercase;
  line-height: 1.25;
}

#checked-buy-now:checked ~ .click-buy__launch-edition {
  display: block;
}

#checked-buy-now:checked ~ .overlay {
  display: block;
}

#checked-buy-now:checked ~ .newsletter {
  display: block;
}

.click-buy__steelbook-edition {
  max-width: 800px;
  width: 100%;
  background: #313c46;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  display: none;
  z-index: 9999;
}

.click-buy__gift-with-purchase {
  max-width: 800px;
  width: 100%;
  background: #313c46;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: none;
  z-index: 9999;
}

.click-buy__newsletter {
  max-width: 600px;
  width: 100%;
  background: #313c46;
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 9999;
}

.invalid {
  border: 1px solid red !important;
}

.form-message {
  color: red;
}

.newsletter-container {
  display: flex;
}
.responText {
  margin: 0 auto;
  text-transform: uppercase;
  color: var(--yellow);
  letter-spacing: 1.85px;
  font-size: 16px;
  text-align: center;
}

.signup-logo img {
  width: 100%;
  max-width: 220px;
  margin-right: 10px;
}

.signup-content .heading-click-buy {
  font-size: 63px;
  font-weight: bold;
}

.signup-content .heading-click-buy-small {
  font-size: 27px;
  font-weight: bold;
  text-transform: none;
}

.email {
  text-transform: uppercase;
  margin: 10px 0;
}

#email {
  margin-top: 5px;
  display: block;
  width: 100%;
  border: none;
  background-color: #13181c !important;
  outline: none;
  height: 46px;
  text-transform: uppercase;
  padding-left: 1%;
  font-size: 13px;
}

.input-check-tick {
  margin-top: 24px;
}

.input-check-tick__content {
  display: flex;
  padding-left: 4%;
  font-size: 12px;
  margin: 25px auto;
}

.input-check-tick__content input {
  opacity: 0;
}

.input-check-tick__content input:checked ~ .input-custom img {
  display: block;
}
.input-custom {
  position: relative;
}
.input-custom2 img,
.input-custom img {
  position: absolute;
  display: none;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}
.input-custom2,
.input-check-tick__content .input-custom {
  width: 30px;
  height: 30px;
  background-color: #252e35;
  margin-right: 3%;
  cursor: pointer;
  padding-right: 6%;
}

.content-label > a {
  text-decoration-line: underline !important;
}

.content-label {
  display: flex;
  flex-wrap: wrap;
}

.subscribe-to-letter__text {
  background-color: var(--yellow);
  width: 100%;
  font-size: 16px;
  bottom: 5%;
  text-transform: uppercase;
  color: black;
  text-align: center;
  padding: 13px 0;
  border: 2px solid black;
  cursor: pointer;
}

.subscribe-to-letter__text.btn--disabled {
  opacity: 0.5;
  cursor: default;
}

.available-group.available-content #available-next__btn,
.available-group.available-content #available-next__btn2 {
  position: absolute;
  top: 60%;
  right: 0;
  cursor: pointer;
  display: none;
  z-index: 9;
}

.available-group.available-content #available-prev__btn,
.available-group.available-content #available-prev__btn2 {
  position: absolute;
  top: 60%;
  left: 0;
  cursor: pointer;
  display: none;
  z-index: 9;
}

.grid.wide.available-content-small-ipad {
  position: relative;
  display: none;
}
.grid.wide.available-content-small-ipad.row {
  display: none;
}
.grid.wide.available-content-small-ipad.row
  .base-game-container
  .row
  .base-game.start {
  display: block;
}

#smallSreenElement-ipad .editionText {
  display: none;
}

#smallSreenElement-ipad .versionButtonGroup {
  display: block;
  left: 2%;
  position: relative;
  width: 100%;
}

#smallSreenElement-ipad .versionButtonsContainer {
  display: flex;
}
#smallSreenElement-ipad .versionButton {
  max-width: 190px;
  margin-right: 10px;
}

#smallSreenElement-ipad .titleGroup.grid.wide {
  left: 0%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#smallSreenElement-ipad .gameCoverRetail.launchToHide {
  width: 50%;
}

#smallContent .base-game.heading {
  max-width: 35%;
  width: 35%;
}
#smallContent .base-game {
  max-width: 32.5%;
  width: 32.5%;
}

#smallContent-ipad .base-game-container {
  margin: 25px auto;
}
#smallContent-ipad .base-game {
  width: 30%;
  max-width: 30%;
}

#smallContent-ipad .base-game.start,
#smallContent-ipad .base-game.header,
#smallContent-ipad .base-game.end {
  width: 70%;
  max-width: 70%;
}

.valiable-siema.grid.wide {
  overflow: hidden;
}

.ipad-container,
.ipad-container-2 {
  padding: 0 8px;
}
.valiable-siema__slider,
.valiable-siema__slider-playtation {
  display: flex;
}

/* Media Query */
@media (min-width: 768px) and (max-width: 1024px) {
  #available-next__btn {
    display: block !important;
  }
  #available-prev__btn {
    display: block !important;
  }
  .versionButtonGroup-small {
    display: block;
  }
  .valiable-ipad-large {
    display: none;
  }
  .valiable-ipad {
    display: none;
  }
  .ipad-container {
    padding: 0 8px;
  }
  .features-content.row {
    flex-direction: column-reverse;
  }
  .nav-ul.c-7 {
    transition: all 0.3s ease-out;
    transform: translateY(-300%);
    z-index: 9999;
  }
  .nav-logo__img {
    display: none;
  }
  #logo-bar {
    display: block;
  }
  .buynowButton.newletter__text,
  .buy-oder {
    padding: 4px 5px;
    font-size: 11px;
  }
  .character {
    display: block;
  }
  .character-img {
    display: block;
  }
  .character-selector {
    justify-content: center;
    max-width: none;
    max-width: 530px;
    margin: 0 auto;
  }
}
@media (min-width: 748px) and (max-width: 1023px) {
  .trailer-container.grid.wide {
    max-width: 630px;
  }
}
@media (max-width: 748px) {
  .trailer-container.grid.wide {
    max-width: 500px;
  }
  .slider-videos {
    padding: 0px 50px;
    margin: 0px -7px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .img-esrb {
    left: 1%;
  }
  .character-selector li {
    margin: 4px;
  }
  .character-info-heading {
    margin-top: 0;
  }
  .character-info {
    margin: 0;
  }
  .character-img {
    margin-top: 0;
  }
  .signup-content .heading-click-buy {
    font-size: 60px;
  }
  .signup-content .heading-click-buy-small {
    font-size: 26px;
  }
  .available-heading {
    font-size: 56px;
  }
  .choose-box-contain {
    flex-wrap: wrap;
  }
  .media-title {
    font-size: 64px;
  }
  .connect-with-atlus {
    display: block;
    height: 77px;
    left: 50%;
    transform: translateX(-50%);
  }
  .whitebox-connect {
    width: 100%;
    right: 0;
  }
  .topbar-footer {
    display: block;
    margin: 0 auto;
    height: 100%;
    text-align: center;
  }
  .navbar-footer {
    width: 100%;
    display: flex;
    margin: 11px auto;
  }
  .buynowButton.subscribe-btn {
    display: block;
  }
  .versionButtonGroup-small {
    display: block;
  }
  #available-next__btn {
    display: block !important;
  }
  #available-prev__btn {
    display: block !important;
  }
  .valiable-ipad-large {
    display: none;
  }
  .valiable-ipad {
    display: none;
  }
  .features-content.row {
    flex-direction: column-reverse;
  }
  .nav-ul.c-7 {
    transition: all 0.3s ease-out;
    transform: translateY(-300%);
    z-index: 9999;
  }
  .nav-logo__img {
    display: none;
  }
  #logo-bar {
    display: block;
  }
  .buynowButton.newletter__text,
  .buy-oder {
    padding: 0;
    font-size: 11px;
  }
  .character {
    display: block;
  }
  .character-img {
    display: block;
  }
  .character-selector {
    justify-content: center;
    max-width: none;
    max-width: 475px;
    margin: 0 auto;
  }
  .features-heading {
    font-size: 72px;
    text-align: center;
  }
}

@media (max-width: 1311px) {
  .character-heading .features-heading {
    font-size: 76px;
    text-align: center;
  }
  #available-next__btn,
  #avaliable-prev__btn {
    display: none;
  }
  .buy {
    display: block;
  }
  .buy .buy-now {
    width: 100%;
    padding: 0;
    height: 40px;
    display: flex;
    margin: 10px 0;
  }
  .buy .watch-trailer {
    width: 100%;
    padding: 0;
    height: 40px;
    display: flex;
  }
}

@media (min-width: 1024px) and (max-width: 1311px) {
  #available-next__btn,
  #avaliable-prev__btn {
    display: none;
  }
  .valiable-ipad {
    display: none;
  }
  .nav-ul.c-7 {
    transition: all 0.3s ease-out;
    transform: translateY(0%);
    z-index: 9999;
  }
  .buy {
    display: block;
  }
  .buy .buy-now {
    width: 100%;
    padding: 0;
    height: 40px;
    display: flex;
    margin: 10px 0;
  }
  .buy .watch-trailer {
    width: 100%;
    padding: 0;
    height: 40px;
    display: flex;
  }
  .trailer-container.grid.wide {
    max-width: 700px;
    width: 100%;
  }
  .slider-videos {
    margin: 0;
  }
  .features-heading {
    font-size: 82px;
  }
}

@media (max-width: 1024px) {
  #available-prev__btn2,
  #available-next__btn2 {
    display: block !important;
  }

  .flatform-playtation {
    display: none;
  }
  .grid.wide.available-content2 {
    display: none;
  }
  #largeContent {
    display: none;
  }
  .grid.wide.available-content-small-ipad {
    display: block;
  }
  .grid.wide.available-content-small-ipad.row {
    display: block;
  }
}

/* loader bus */
.loader {
  background: #000;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9200;
}
.loadingImageGroup {
  animation: moveBus 2s 0.1s infinite;
  bottom: 0;
  height: 43px;
  margin: auto;
  position: absolute;
  top: 0;
  transition: all 2s ease 0s;
  transform: translateX(150px);
  width: 72px;
}
.part1 {
  width: 72px;
  animation: loadingAnim 0.2s infinite;
}
.part2 {
  animation: loadingAnim2 0.2s infinite;
  left: 8px;
  position: absolute;
  top: 28px;
  width: 12px;
}
.part3 {
  animation: loadingAnim2 0.2s 0.1s infinite;
  left: 44px;
  position: absolute;
  top: 28px;
  width: 12px;
}
