* {
  font-family: "Roboto" !important;
  color: var(--white);
}

.nav-top {
  height: 0;
  position: relative;
}

.nav-nav {
  height: 74px;
  width: 100%;
}

.nav-container {
  display: flex;
}

.nav-logo {
  z-index: 99;
  margin: 10px 0;
}

.nav-logo__img {
  width: 60px;
  height: 55px;
}

.nav-ul {
  margin: 28px 0;
}

.ul-list {
  display: flex;
  line-height: 1.5;
}

.li-listitems {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  color: var(--white);
  text-transform: uppercase;
  margin: 0 65px;
  z-index: 99;
}

.country-navigation-wrapper {
  position: relative;
}

.country-nav div {
  position: relative;
  z-index: 999;
}

.flag {
  overflow: hidden;
  margin: 10px auto;
  padding-right: 10px;
}

.flag > a > img {
  transition: transform 0.2s ease-in-out;
  position: relative;
  transform: translateX(100px);
  border-radius: 50%;
  height: 37px;
  width: 37px;
  cursor: pointer;
}

.country-nav__selected {
  position: relative;
  z-index: 99;
}

.nav-country-logo__img {
  border-radius: 50%;
  height: 37px;
  width: 37px;
  margin: 12px 0;
  cursor: pointer;
}

#hero {
  overflow: hidden;

  position: relative;
  width: 100%;
  height: 870px;
}
#hero .hero-video {
  position: absolute;
  height: 150%;
  z-index: -1;
}

.hero-img {
  position: absolute;
  width: 99%;
  z-index: -2;
}

.hero-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logo-center img {
  width: 100%;
}
.text-bottom {
  color: var(--white);
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.buy {
  display: flex;
}
.buy-now {
  margin: 0 13px;
  padding: 10px 125px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  border: 3px solid black;
  cursor: pointer;
  font-size: 14px;
}

.watch-trailer {
  cursor: pointer;
  padding: 10px 77px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 3px solid black;
  font-size: 14px;

  color: var(--white);
}

.img-esrb {
  position: absolute;
  right: 1%;
  bottom: 2%;
  z-index: 3;
}

.img-esrb img {
  width: 150px;
  height: 75px;
}

#hero::before {
  position: absolute;
  background-image: url(../img/hero/overlay.png);
  background-repeat: repeat;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
}

#media {
  position: relative;
  width: 100%;
}

.media {
  background-image: url(../img/media/BG03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  overflow: hidden;
}

.innerContainer {
  position: relative;
  max-width: 1980px;
  width: 95%;
  margin: 0 auto;
}

.media-title {
  margin-top: 120px;
  color: var(--white);
  text-align: center;
  font-size: 95px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1.85px;
  line-height: 2;
  margin-bottom: 10px;
  position: relative;
  text-shadow: -10px 10px rgb(0 0 0 / 35%);
  text-transform: uppercase;
  z-index: 1;
}

.media-main__text {
  margin: 0 auto;
  max-width: 884px;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.grid.wide {
  max-width: 1300px;
  margin: 0 auto;
}

.trailer-container {
  margin: 0 auto;
  position: relative;
  text-align: center;
  max-width: 1350px;
}

#trailer-prev__btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  cursor: pointer;
  z-index: 11;
}

.trailer-siema {
  overflow: hidden;
  margin-bottom: 60px;
}

.trailer-siema__slider {
  display: flex;
  width: 5000px;
  height: 369px;
}

.slider-videos {
  border: 5px solid #ffffff;
  position: relative;
  margin: 0 10px;
}

#trailer-next__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#features {
  position: relative;
}

.features {
  background: url(../img/features/features_bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
}

.grid-l {
  max-width: 1980px;
  margin: 0 auto;
  position: relative;
  width: 95%;
}

.features-heading {
  display: block;
  padding-top: 82px;
  font-size: 110px;
  color: var(--white);
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1.85px;
  line-height: 1;
  margin-bottom: 10px;
  position: relative;
  text-shadow: -10px 10px rgb(0 0 0 / 35%);
}

.description-text {
  color: var(--white);
  font-size: 16px;
  padding-right: 6%;
}

.features-img {
  border: 3px solid var(--white);
  height: 490px;
  background: url(../img/features/mainimage.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.features-content-2 {
  max-width: 1380px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.description-box {
  color: var(--white);
}

.small-feature-group > div {
  padding: 20px;
}

.small-feature-group h4 {
  font-size: 19px;
  font-weight: bold;
}
.small-feature-group p {
  font-size: 14px;
  line-height: 1.5;
}

.description-img {
  position: absolute;
  border: 5px solid var(--white);
  box-shadow: 4px 4px #000;
  height: 200px;
  width: 90%;
  bottom: 4%;
}

.description-img.ss1 {
  background: url(../img/features/ss1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.description-img.ss2 {
  background: url(../img/features/ss2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.description-img.ss3 {
  background: url(../img/features/ss3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.small-feature-group {
  position: relative;
  border-radius: 12px;
  background-position: top center;
  width: 400px;
  height: 535px;
  margin: 0 auto;
}

.small-feature-group.bg-1 {
  background: url(../img/features/red_bg1.png) no-repeat;
}
.small-feature-group.bg-2 {
  background: url(../img/features/red_bg2.png) no-repeat;
}
.small-feature-group.bg-3 {
  background: url(../img/features/red_bg3.png) no-repeat;
}

#character {
  position: relative;
  width: 100%;
  background: url(../img/characters/characters_bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.character {
  display: flex;
}

.character-selector {
  max-width: 500px;
}

.character-selector li {
  margin: 7px;
  cursor: pointer;
}

.character-selector .characterActive,
.character-persona.characterActive,
.character-selector > li:hover {
  box-shadow: -5px -5px 0 #000;
  cursor: pointer;
}

.character-info-heading {
  margin-top: 44px;
  font-size: 26px;
  color: var(--white);
  text-transform: uppercase;
}

.character-info {
  margin: 44px 0;
  font-size: 16px;
}

.character-img {
  padding-top: 70px;
  padding-left: 100px;
}

.character-img img {
  position: absolute;
  max-width: 500px;
  width: 100%;
  box-shadow: 5px 5px 0 #000;
}

#avaliable {
  background: url(../img/purchase/purchase_bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 900px;
  position: relative;
  overflow: hidden;
}

.available-now::before {
  background-image: url(../img/purchase/status_sophia.png);
  background-repeat: no-repeat;
  background-size: 60%;
  content: "";
  height: 300px;
  left: -250px;
  position: absolute;
  top: -17px;
  width: 720px;
}

.available-group {
  max-width: 1500px;
  margin: 0 auto;
}

.available-heading {
  font-size: 73px;
  font-style: italic;
  font-weight: bold;
  text-shadow: -10px 10px rgb(0 0 0 / 35%);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.85px;
  padding-top: 82px;
}

.choose-flatform {
  margin-left: 10px;
}

.heading-flatform {
  margin-top: 25px;
  text-transform: uppercase;

  font-size: 26px;
}

.choose-box-contain {
  display: flex;
}

.choose-box {
  background: none;
  margin-right: 10px;
  border: 2px solid var(--red);
  width: 189px;
  height: 35px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.choose-box.selected,
.choose-box:hover {
  background-color: var(--red);
}

.available-content {
  margin-top: 50px;
}

#img-append > img {
  transition: fadeIn 0.5s ease-in-out;
}

.available-group.available-content {
}

.grid.wide.available-content2 {
  position: relative;
  max-width: 1070px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.grid.wide.available-content-small {
  position: relative;
  max-width: 1070px;
  margin: 0 auto;
  display: none;
  text-align: center;
}

.editionText {
  position: absolute;
  display: inline-block;
  text-align: left;
  width: 30%;
  bottom: 0;
  left: 2%;
}

.editionTitle {
  font-size: 26px;
}

.versionButtonGroup {
  left: 2%;
  position: absolute;
  width: 35%;
  text-align: left;
}

.versionTitle {
  font-size: 26px;
}

.versionButtonsContainer {
  width: 100%;
  left: 2%;
}

.versionButton {
  margin: 5px 0;
  max-width: 250px;
  width: 100%;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid var(--red);
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
}

.VersionActive {
  background-color: var(--red);
}

.versionButton:hover {
  background-color: var(--red);
}

.titleGroup {
  max-width: 725px;
  width: 65.5%;
  left: 35%;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.gameCoverRetail {
  display: inline-block;
  vertical-align: top;
  max-height: 400px;
  margin: 0 2px;
}

.gameCoverRetail > img {
  max-width: 200px;
}

.steelToHide {
}

.gwpToHide {
}

.launch-header {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
}

.buynowButton {
  background: var(--red);
  max-width: 135px;
  width: 100%;
  text-transform: uppercase;
  border: none;
  padding: 9px 0;
  cursor: pointer;
}

.grid.wide.available-content3 {
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
  display: block;
}
.grid.wide.available-content-small {
  position: relative;
  max-width: 795px;
  margin: 0 auto;
  display: none;
}

.gameCoverRetail {
  width: 50%;
}

.base-game {
  padding: 10px 0;
  background-color: yellow;
  color: #000;
  text-align: center;
  border: 1px solid black;
  font-style: italic;
}

.base-game-container {
  border-radius: 5px;
}

.base-game .base-game-header {
  color: #000;
  text-align: left;
  padding-left: 4%;
  text-transform: uppercase;
  font-size: 14px;
}

.base-game > img {
  padding: 1px;
  width: 20px;
}

.base-game.end {
  border-radius: 0 0 0 10px;
}
.base-game.start {
  border-radius: 10px 0 0 0;
}

#footer {
}

.footer {
  background-color: #262626;
  width: 100%;
}

.whitebox-connect {
  position: absolute;
  display: inline-block;
  background-color: var(--white);
  height: 76px;
  width: 100%;
  right: 58%;
}

.whitebox-connect::after {
  content: "";
  background: url(../img/purchase//triangle.png) no-repeat;
  background-size: 100%;
  position: absolute;
  height: 76px;
  width: 22.2px;
  top: 0;
  right: -22px;
}
.topbar-footer {
  display: flex;
}

.connect-with-atlus {
  background: var(--white);
  margin: auto 0;
  font-weight: bold;
}

.connect {
  margin-left: 20px;
  color: black;
  text-transform: uppercase;
}

.topbar-footer {
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  text-align: center;
  height: 76px;
}

.navbar-footer {
  margin: auto 0;
  padding-left: 64px;
}

.footer__nav-bar {
  display: flex;
}

.footer__nav-bar li {
  font-size: 16px;
}

.footer__nav-bar img {
  height: 44px;
  margin: 0 2px;
}

.subscribe-btn {
  margin: auto 0;
  padding-left: 40px;
  margin-bottom: 16px;
}

.subscribe-btn__content {
  background-color: var(--white);
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 14px 0;
  overflow: hidden;
  font-size: 14px;
}

.logo-group.grid.wide {
  max-width: 1050px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 15px 0;
}

.logo-group .atlus-logo {
  height: 50px;
}
.logo-group .p-studio {
  height: 90px;
}
.logo-group .ps4 {
  height: 40px;
}

.logo-group .esrb {
  height: 70px;
}

.logo-group .esrb-2 {
  height: 70px;
}

.logo-group img {
  margin: 10px;
}

.footer-copy {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  font-size: 9px;
  line-height: 1.5;
}

.policy-group {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
}
.policy-group a {
  margin: 0 10px;
}
